<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ISP Journal</title>
  </head>

  <style>
    h1 {
	margin: 0;
	text-align: center;
	color: red;
	font-size: 45px;
	font-style: oblique;
    }

    h2 {
	text-align: justify;
	font-weight: bold;
	font-size: 32px;
	font-style: oblique;
	color: #FF6D62;
    }

    h3 {
	text-align: justify;
	font-weight: bold;
	font-size: 20px;
	font-style: oblique;
	color: #CC00CC;
    }

    h4 {
	margin-left: 5px;
	text-align: justify;
	font-weight: bold;
	font-size: 20px;
	font-style: oblique;
    }

    h5 {
	margin-left: 10px;
	text-align: justify;
	font-weight: bold;
	font-size: 25px;
	font-style: oblique;
    }

    p {
	margin-left: 10px;
	text-align: justify;
	font-weight: bold;
	font-size: 18px;
	font-style: oblique;
	color: #212AA5;
    }

    body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 110vh;
    }

    .gradient-background {
	margin: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, #F9E795, #FCF6F5, #F96167);
    }
  </style>

  <body>
    <div class="gradient-background">
      <h1>CS-II Conspiracy Theories</h1>
      <p>Date: 03-October-2023</p>

      <h5><u>Navigation</u></h5>
      <a href="ConspiracyTheory.css"><h4>CSS File(Under Programming)</h4></a>
      <a href="../journals.html"><h4>Back to Journals</h4></a>
    </div>
  </body>
